<h1 class="app-grid__home--header">Good morning, Alex.</h1>
<main class="app-grid__home--main">
  <section class="app-grid__home--stories">
    <img src="https://source.unsplash.com/random/600x250" alt="" />
  </section>
  <section>
    <img src="https://source.unsplash.com/random/390x700" alt="" />
  </section>
</main>
<nav>
  <a href=""><img src="https://source.unsplash.com/random/70x48" alt="" /></a>
  <a href=""><img src="https://source.unsplash.com/random/70x48" alt="" /></a>
  <a href=""><img src="https://source.unsplash.com/random/70x48" alt="" /></a>
  <a href=""><img src="https://source.unsplash.com/random/70x48" alt="" /></a>
</nav>
