.app-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 2fr 40px 40% 88px;
  height: 100vh;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: c;
}

/* home */

.app-grid__home {
  grid-template-rows: 88px 1fr 2fr 2fr 40px 40% 88px;
  grid-template-areas: "a" "b" "b" "c" "c" "c" "nav";
}

.app-grid__home--header {
  grid-area: a;
}

.app-grid__home--stories {
  grid-area: b;
  overflow-x: scroll;
  overflow-y: hidden;
}

.app-grid__home--main {
  grid-area: c;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* search */

.app-grid__search {
  grid-template-rows: 88px 36px 30px auto 88px;
  grid-template-areas: "a" "b" "c" "d" "nav";
}

.app-grid__search--searchbar {
  grid-area: a;
}

.app-grid__search--heading {
  grid-area: b;
}

.app-grid__search--tagbar {
  grid-area: c;
  overflow-x: scroll;
  overflow-y: hidden;
}

.app-grid__search--main {
  grid-area: d;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*alerts*/

.app-grid__alerts {
  grid-template-areas: "a" "b" "c" "d" "e" "f" "nav";
}

.app-grid__profile {
  grid-template-areas: "a" "b" "c" "d" "e" "f" "nav";
}

.app-grid__scroll-area {
  overflow: scroll;
}

.app-grid__footnav {
  grid-area: nav;
}
