<nav class="footnav">
  <a class="footnav__link" href=""
    ><img
      src="../../../images/icons8-for-you.svg"
      alt="Gehe zur Newsseite"
      widht="24"
      height="24"
  /></a>
  <a class="footnav__link opacity-50" href=""
    ><img
      src="../../../images/icons8-search.svg"
      alt="Gehe zur Suchfunktion"
      widht="24"
      height="24"
  /></a>
  <a href="" class="footnav__button">+</a>
  <a class="footnav__link opacity-50" href=""
    ><img
      src="../../../images/bell.svg"
      alt="Gehe zur Alerts-Page"
      widht="24"
      height="24"
  /></a>
  <a class="footnav__link opacity-50" href=""
    ><img
      src="../../../images/avatar.svg"
      alt="Gehe zur Profilseite"
      widht="24"
      height="24"
  /></a>
</nav>
  <div class="footnav__underline__wrapper">
    <span class="footnav__underline"></span>
</div>