<div class="storiesbar">
  <button class="storiesbar__tag">
    <a href="#"
      ><img
        class="storiesbar__tag__img"
        src="../../../images/venedig-trip.jpg"
        alt=""
        width="100"
        height="140"
    /></a>
    <div class="storiesbar__profil-pic__background">
      <img
        class="storiesbar__profil-pic"
        src="../../../images/user1.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
      />
    </div>
  </button>
  <button class="storiesbar__tag">
    <a href="#"
      ><img
        class="storiesbar__tag__img"
        src="../../../images/venedig-trip.jpg"
        alt=""
        width="100"
        height="140"
    /></a>
    <div class="storiesbar__profil-pic__background">
      <img
        class="storiesbar__profil-pic"
        src="../../../images/user1.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
      />
    </div>
  </button>
  <button class="storiesbar__tag">
    <a href="#"
      ><img
        class="storiesbar__tag__img"
        src="../../../images/venedig-trip.jpg"
        alt=""
        width="100"
        height="140"
    /></a>
    <div class="storiesbar__profil-pic__background">
      <img
        class="storiesbar__profil-pic"
        src="../../../images/user1.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
      />
    </div>
  </button>
  <button class="storiesbar__tag">
    <a href="#"
      ><img
        class="storiesbar__tag__img"
        src="../../../images/venedig-trip.jpg"
        alt=""
        width="100"
        height="140"
    /></a>
    <div class="storiesbar__profil-pic__background">
      <img
        class="storiesbar__profil-pic"
        src="../../../images/user1.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
      />
    </div>
  </button>
  <button class="storiesbar__tag">
    <a href="#"
      ><img
        class="storiesbar__tag__img"
        src="../../../images/venedig-trip.jpg"
        alt=""
        width="100"
        height="140"
    /></a>
    <div class="storiesbar__profil-pic__background">
      <img
        class="storiesbar__profil-pic"
        src="../../../images/user1.jpg"
        alt="Profile Picture"
        width="32"
        height="32"
      />
    </div>
  </button>
</div>
