<div class="storiesbar">
  <button class="storiesbar__tag "><a href="#"><img class="storiesbar__tag__img" src="../../../images/venedig-trip.jpg" alt="" width="70" height="150"/></a></button>
  <button class="storiesbar__tag "><a href="#"><img class="storiesbar__tag__img" src="../../../images/venedig-trip.jpg" alt="" width="70" height="150"/></a></button>
  <button class="storiesbar__tag "><a href="#"><img class="storiesbar__tag__img" src="../../../images/venedig-trip.jpg" alt="" width="70" height="150"/></a></button>
  <button class="storiesbar__tag "><a href="#"><img class="storiesbar__tag__img" src="../../../images/venedig-trip.jpg" alt="" width="70" height="150"/></a></button>
  <button class="storiesbar__tag "><a href="#"><img class="storiesbar__tag__img" src="../../../images/venedig-trip.jpg" alt="" width="70" height="150"/></a></button>