.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.post ul {
  list-style: none;
}

.post__content {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 16px 0px;
  width: 87.2%;
}

.post__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  height: 34px;
}

.post__profile-picture {
  width: 32px;
  height: 32px;
  left: 0px;
  top: 1px;
  border-radius: 100px;
}

.post__profile-list {
  margin: 0px 8px;
}

.post__profile-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 2px 0px;
}

.post__profile-time {
  color: var(--light-gray);
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 2px 0px;
}

.post__carousel {
  width: 93.6vw;
  margin: 16px 0 7.5px 0;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* .post__carousel li {
  margin-bottom: 4.5px;
  padding-bottom: -4.5px;
} */

.post__carousel::-webkit-scrollbar {
  display: none;
}

.post__carousel-image {
  margin: 0 12px 0 0;
  border-radius: 16px;
  width: 87.2vw;
  scroll-snap-align: start;
}

.post__carousel-indicator {
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 6px;
}

.post__carousel-indicator-icon {
  margin: 0;
  padding: 0;
  line-height: 6px;
}

.post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.post__actions-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  line-height: 16px;
}

.post__actions-left-li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}
