<body>
  <section class="post">
    <hr class="post__divider" />
    <div class="post__content">
      <div class="post__profile">
        <img class="post__profile-picture" src="../../../images/user1.jpg" alt="Profile Picture" />
        <ul class="post__profile-list unstyled-list">
          <li class="post__profile-name">Rachel Hill</li>
          <li class="post__profile-time">1h ago</li>
        </ul>
      </div>
      <ul class="post__carousel">
        <li><img class="post__carousel-image" src="../../../images/scooter.jpg" alt="" width="390" /></li>
        <li><img class="post__carousel-image" src="../../../images/venedig-trip.jpg" alt="" width="390" /></li>
      </ul>
      <ul class="post__carousel-indicator">
        <li><img src="../../../images/ellipse.svg" alt="Carousel indicator" /></li>
        <li><img src="../../../images/ellipse.svg" alt="Carousel indicator" /></li>
      </ul>
      <div class="post__actions">
        <ul class="post__actions-left">
          <li><img src="../../../images/Like.svg" alt="Like posting" /><span>18.6k</span></li>
          <li><img src="../../../images/Comment.svg" alt="Comment posting" />4.7k</li>
          <li><img src="../../../images/Share.svg" alt="Share posting" />12.4k</li>
        </ul>
        <img src="../../../images/bookmark.svg" alt="Bookmark posting" />
      </div>
    </div>
  </section>
</body>
