*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--dark-black);
  font-family: ;
}

body {
  color: var(--light-white);
  font-family: "hk_groteskmedium";
}

