*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: var(--dark-black);
}

body {
  color: var(--light-white);
  font-family: "hk_groteskmedium";
}

h1 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
}
