@import "./colors.css";
@import "./base.css";

/* components */
@import "./components/footnav/footnav.css";
@import "./components/app-grid/app-grid.css";
@import "./components/tagbar/tagbar.css";
@import "./components/searchbar/searchbar.css";
@import "./components/post/post.css";
@import "./components/stories/stories.css";
/* @import "./components/XXX/XXX.css"
@import "./components/XXX/XXX.css"
@import "./components/XXX/XXX.css" */

/* leave utility at bottom */
@import "./utility.css";

@font-face {
  font-family: "hk_groteskbold";
  src: url("./fonts/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("./fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hk_groteskmedium";
  src: url("./fonts/hkgrotesk-medium-webfont.woff2") format("woff2"),
    url("./fonts/hkgrotesk-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hk_grotesksemibold";
  src: url("./fonts/hkgrotesk-semibold-webfont.woff2") format("woff2"),
    url("./fonts/hkgrotesk-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 24px;
}

.home__border {
  width: 34px;
  height: 34px;
  border-radius: 100px;
  border: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator-positiontuning {
  position: relative;
}

.icon-indicator {
  position: absolute;
  right: 24px;
  top: 32px;
  border: var(--white) 1px solid;
  width: 9px;
  height: 9px;
  border-radius: 100px;
  z-index: 10;
}

.post__carousel--textpost {
  width: 93.6vw;
  margin: 16px 0 7.5px 0;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* overflow-x: scroll; */
  /* scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none; */
}

.post__startline-wrapper {
  position: relative;
}

.options__three-points {
  position: absolute;
  bottom: 14px;
  left: 310px;
  transform: rotate(90deg);
  display: flex;
  gap: 2px;
}

.home__img--mail {
  width: 18px;
  height: 18px;
}

.bookmark-position {
  padding-right: 6px;
}
